#about{
    padding-bottom: 15rem;
}
.main{
    background-color: transparent;
    max-width: 700px;
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
    position: relative;
}
.selfImg {
    height: 12rem;
    width: 12rem;
    margin: 2rem 2rem 2rem 2rem;
    float: left;
}
p.selfDis {
    text-align: left;
    padding-left: 13rem;
    font-size: 21px;
    line-height: 1.7;
    margin-top: 4rem;
    font-weight: 500;
    color: #606362;
    font-family: 'Amethysta', serif;
}
.gridContainer{
    align-items: center;
}
span.css-qphqwn-MuiSlider-root{
    margin-left: 30px;

}
span.css-qphqwn-MuiSlider-root:hover{
    color:#8AB39F;
}
.pdf{
    margin-top: 50px;
}
.button{
    font: 16px/30px 'Amethysta', serif;
    background: #8AB39F;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 0;
    color: #1D1D1F;
    text-shadow: -1px -1px #606362;
    padding: 12px 20px;
    margin-bottom: 18px;
    border: none;
    cursor: pointer;
    height: auto;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
span.css-1ami7lv-MuiTimelineConnector-root{
    background-color:#F2E6CE;
}