.header {
    top: 0px;
    text-align: center;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
    position: sticky;
    margin: auto;
    width: 60%;
    padding: 2px;
    z-index: 100;
    flex:1;
    background-color:#606362;
}
  