

.container {
    width: 100%;
  }
.header {
    top: 0px;
    background-color: rgb(162, 169, 151);
    text-align: center;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
    background-size: cover;
    overflow: auto;
    position: sticky;
    margin: auto;
    width: 60%;
    padding: 2px;
}
.resume {
    font-family:monospace;
    color: #f6efe0;
    position:relative;
}
a:link, a:visited, a:hover {
    font-family:monospace;
    background-color: transparent;
    border:none;
    color:#f6efe0;
    margin: 0 auto;
    display: inline;
    transition-duration: 0.4s;
    text-decoration: none;
    font-size:large;
  }
  
  a:active {
    background-color: transparent;
    border:none;
    color:rgb(162, 169, 151);
    margin: 0 auto;
    display: inline;
    transition-duration: 0.4s;
  }
.button {
    background-color: transparent;
    border:none;
    color:rgb(162, 169, 151);
    margin: 0 auto;
    display: inline;
    transition-duration: 0.4s;
}
.button:hover {
    background-color: rgb(131, 137, 122);
    color:rgb(162, 169, 151);
}


h1{
  color:rgb(162, 169, 151);
  text-align: center;
  font-family: monospace;
}