.navbar {
  flex-direction: row;
  align-items: center;
  margin: auto;
}
.navbar-item {
  justify-content: center;
  align-items: center;
  color: inherit;
  text-decoration: inherit;
  text-transform: uppercase;
  outline: none;
}
a:link, a:visited  {
  font-family:monospace;
  background-color: transparent;
  border:none;
  margin: 0 auto;
  display: inline-flex;
  transition-duration: 0.4s;
  text-decoration: none;
  font-size:large;
  letter-spacing:2.5px;
  margin-right: 15px;
  margin-left: 15px;
}
a:hover{
  color:#A8BAA9; 
}