.navbar {
  background-color: transparent;
  color: #F2E6CE;
  position: sticky;
}
.navbar-item {
  justify-content: center;
  align-items: center;
  color: inherit;
  text-decoration: inherit;
  text-transform: uppercase;
  outline: none;
  color:#F2E6CE;
}
.navbar-item:link, .navbar-item:visited  {
  border:none;
  margin: 0 auto;
  display: inline-flex;
  text-decoration: none;
  margin-right: 15px;
  margin-left: 15px;
}
