.home-block{
  width: 100%;
  background: #161415 url('../../../images/header-background1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}
#home{
  padding-bottom: 10%;
}
.noshow {
    display: none;
}
.arrowButton{
  align-items: center;
  margin-top: 25%;
}
span.fire{
  padding-bottom: 50px;
  font-size: 2vw;
  letter-spacing: .2em;
  color:#F2E6CE;
  text-shadow: 2px 2px #000000;
}
.photo{
  margin-right:1550px;
}
