.home-block{
  height: 650px;
  min-height: 800px;
  width: 100%;
  background: #161415 url('../../../images/header-background1.jpg') no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
  overflow: hidden;
  top:0px;
}
.noshow {
    display: none;
}
.arrow{
  margin: 350px;
}
span.fire{
  padding-bottom: 50px;
  font-size: 2em;
  letter-spacing: .2em;
  color:#F2E6CE;
  text-shadow: 2px 2px #000000;
}
.photo{
  margin-right:1550px;
}