.home-block{
    height: 600px;
    min-height: 500px;
    width: 100%;
    background: #161415 url('../../../images/header-background1.jpg') no-repeat top center;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden;
    top:0px;
}
.noshow {
    display: none;
}