html {
  scroll-behavior: smooth;
}
h5 {
    color:rgb(162, 169, 151);
    font-size: 1.6rem;
    align-items: center;
    line-height: 1.875;
    margin-bottom: 0.3rem;
    letter-spacing: .4rem;
    font-size: 18px;
    line-height: 30px;
    font-family: 'opensans-bold', sans-serif;
    font-weight: normal;
    -webkit-font-variant-ligatures: common-ligatures;
    -moz-font-variant-ligatures: common-ligatures;
    font-variant-ligatures: common-ligatures;
    text-rendering: optimizeLegibility;
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
  }