
html {
  scroll-behavior: smooth;
}
body{
  background-color: #F2E6CE;
}
h1 {
  color:#F2E6CE;
  padding-top: 70px;
  background-color: transparent;
  font-size: 4em;
  font-family: 'Amethysta', serif;
  text-align: center;
  line-height: 1.4em;
  text-transform: uppercase;
  letter-spacing: .3em;
  white-space:nowrap;
  text-shadow: 1px 1px #000000;
}
h2 {
  color: #1D1D1F;
  background-color: transparent;
  font-size: 3em;
  font-family: 'Amethysta', serif;
  line-height: 1.4em;
  text-transform: uppercase;
  letter-spacing: .3em;
  text-shadow: 1px 1px #606362;
}
h3 {
  color:#1D1D1F;
  padding-top: 40px;
  background-color: transparent;
  font-size: 1.5em;
  font-family: 'Amethysta', serif;
  text-align: center;
  line-height: 1.4em;
  text-transform: uppercase;
  letter-spacing: .3em;
  white-space:nowrap;
  text-shadow: 0.5px 0.5px #000000;
  margin-top: 2px;
  padding-top: 10px;
}
h4 {
  background-color: transparent;
  font-size: 1.2em;
  font-family: 'Amethysta', serif;
  line-height: 1.4em;
  text-transform: uppercase;
  letter-spacing: .3em;
  white-space:nowrap;
  text-shadow: -1px -1px #000000;
  padding-top: 10px;
}
h5 {
  color: #8AB39F;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.875;
  margin-bottom: 0.3rem;
  letter-spacing: .4rem;
  line-height: 30px;
  font-family: 'opensans-bold', sans-serif;
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h6 {
  color: #606362;
  text-align: center;
  font-size: 1.6rem;
  font-size: 12px;
  font-family: 'Amethysta', serif;
  font-style: italic;
  font-weight: 100;
  margin-bottom: 10px;
}
h7 {
  color: #606362;
  text-align: center;
  font-size: 1.6rem;
  font-size: 16px;
  font-family: 'Amethysta', serif;
  font-weight: 100;
}
a:link, a:visited  {
  font-family:monospace;
  transition-duration: 0.4s;
  font-size:large;
  letter-spacing:2.5px;
}
a:hover{
  color:#8AB39F; 
}
span{
  font-family: 'Amethysta', serif;
  text-transform: lowercase;
  vertical-align: middle;
}
p {
  font-size: 18px;
  font-family: 'Amethysta', serif;
  color: #606362;
}